html, body, input, button, textarea, select {
	font-family: Verdana, "DejaVu Sans", "Bitstream Sans", Arial, sans-serif;
}

body {
	background-color: #ffffff;
	margin: 0;
}

html, body, p, blockquote, dt, dd, th, td, li {
	line-height: 1.5;
}

p, blockquote, dd, li {
	text-align: justify;
}

blockquote {
	margin: 0 0 16px 30px;
}

.par {
	margin-top: 16px;
	margin-bottom: 16px;
}

.nopar {
	margin-top: 0;
	margin-bottom: 0;
}

.nowrap {
	white-space: pre;
}

dt {
	font-weight: bold;
	color: #303030;
}

dd {
	margin: 5px 0 10px 20px;
}

li {
	margin-top: 5px;
	margin-bottom: 5px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 0;
}

img {
	border: 0;
}

a {
	outline: 0;
}
a, a:active, a:visited, a:focus {
	color: #3060c0;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

a.link_text {
	text-decoration: underline;
}

a.link_external {
	text-decoration: none;
}
a.link_external:hover {
	text-decoration: underline;
}
a.link_external::after {
	content: "\279a";
	padding-left: 4px;
	padding-right: 2px;
	display: inline-block;
	text-decoration: none;
}

a.link_email {
	text-decoration: none;
}
a.link_email:hover {
	text-decoration: underline;
}
a.link_email::before {
	content: "\2709";
	font-family: Verdana, Arial, sans-serif;
	padding-right: 4px;
	padding-left: 2px;
	display: inline-block;
	text-decoration: none;
}

a.link_germanonly {
	font-style: italic;
	text-decoration: underline dotted !important;
}
a.link_germanonly:hover {
	text-decoration: underline solid !important;
}

em {
	font-style: italic;
	font-weight: normal;
	white-space: pre-wrap;
}

var {
	font-style: italic;
	font-weight: normal;
}

small, .small {
	font-size: 85%;
}

pre, .pre {
	font-family: Consolas, "Courier New", monospace;
	line-height: 1.5;
	overflow: auto;
	white-space: pre-wrap;
}

samp, code, .code {
	font-family: Consolas, "Courier New", monospace;
	color: #000000;
}

kbd, .kbd {
	font-family: Arial, sans-serif;
	padding: 1px 4px;
	margin: 0 2px;
	background-color: #f0f0f0;
	border-radius: 4px;
	border: 1px solid #d0d0d0;
}



h1, h2, h3, h4, h5, h6 {
	font-family: Arial, sans-serif;
}

h1 {
	font-size: 2.25rem;
	font-weight: bold;
	padding-bottom: 2px;
	border-bottom: 2px solid #c0c0c0;
	margin: 0 0 16px 0;
}

h2 {
	font-size: 2rem;
	font-weight: bold;
	padding-bottom: 1px;
	border-bottom: 1px solid #c0c0c0;
	margin: 40px 0 16px 0;
}

h3 {
	font-size: 1.75rem;
	font-weight: bold;
	margin: 30px 0 16px 0;
}

h4 {
	font-size: 1.5rem;
	font-weight: bold;
	margin: 30px 0 16px 0;
}

h5 {
	font-size: 1.25rem;
	font-weight: bold;
	margin: 20px 0 16px 0;
}

h6 {
	font-size: 1rem;
	font-weight: bold;
	margin: 20px 0 16px 0;
}



.gray { color: #707070; }
.green { color: #208020; }
.red { color: #c03030; }
.blue { color: #0050d0; }



.div_table {
	display: table;
}
.div_row {
	display: table-row;
}
.div_cell {
	display: table-cell;
	vertical-align: middle;
}



a.multidoc_button {
	background-color: #d6d6d6;
	color: #000000;
	float: left;
	margin: 0 10px 10px 0;
	padding: 10px 30px 10px 30px;
}

a.multidoc_button:active, a.multidoc_button:focus {
	background-color: #666666;
	color: #ffffff;
	text-decoration: none;
}

a.multidoc_button:hover {
	background-color: #70b030;
	color: #ffffff;
	text-decoration: none;
}

.multidoc_button_current {
	background-color: #666666;
	color: #ffffff;
	float: left;
	margin: 0 10px 10px 0;
	padding: 10px 30px 10px 30px;
}

a.multidoc_button_current:active, a.multidoc_button_current:focus, a.multidoc_button_current:visited {
	background-color: #666666;
	color: #ffffff;
	text-decoration: none;
}

a.multidoc_button_current:hover {
	background-color: #70b030;
	color: #ffffff;
	text-decoration: none;
}

a.multidoc_button_small {
	background-color: #d6d6d6;
	color: #000000;
	float: left;
	margin: 0 10px 10px 0;
	padding: 5px 15px 5px 15px;
}

a.multidoc_button_small:active, a.multidoc_button_small:focus {
	background-color: #666666;
	color: #ffffff;
	text-decoration: none;
}

a.multidoc_button_small:hover {
	background-color: #70b030;
	color: #ffffff;
	text-decoration: none;
}

.multidoc_button_small_current {
	background-color: #666666;
	color: #ffffff;
	float: left;
	margin: 0 10px 10px 0;
	padding: 5px 15px 5px 15px;
}

a.multidoc_button_small_current:active, a.multidoc_button_small_current:focus, a.multidoc_button_small_current:visited {
	background-color: #666666;
	color: #ffffff;
	text-decoration: none;
}

a.multidoc_button_small_current:hover {
	background-color: #70b030;
	color: #ffffff;
	text-decoration: none;
}

.multidoc_button_monospace {
	font-family: Consolas, monospace;
	font-size: 120%;
}



.gaijin_logo {
	width: 100%;
}
.gaijin_logo a {
	font-family: Arial, sans-serif;
	font-size: 42px;
	font-weight: 900;
	color: #505050;
	text-decoration: none;
}
.gaijin_logo a:hover {
	text-decoration: none;
}
.gaijin_logo_dot {
	color: #c00000;
	font-size: 36px;
}
.gaijin_logo_at {
	color: #909090;
	font-size: 36px;
}
.gaijin_logo_bar {
	background-color: #f0f0f0;
	padding: 5px 5px 5px 15px;
}



.img_sizeable {
	height: auto;
	max-width: 100%;
}

.figure {
	color: #707070;
	font-style: italic;
}

.figure img {
	height: auto;
	max-width: 100%;
	padding: 2px;
	border: 1px solid #c0c0c0;
}



table.table_border {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 16px 0 16px 0;
}

table.table_border th {
	background-color: #f0f0f0;
	border: 1px solid #d0d0d0;
	color: #000000;
	font-weight: bold;
	padding: 4px 8px;
	text-align: left;
}

table.table_border td {
	border: 1px solid #d0d0d0;
	padding: 4px 8px;
	vertical-align: top;
}

table.table_border_side th {
	background-color: #f0f0f0;
	border: 1px solid #d0d0d0;
	color: #000000;
	font-weight: normal;
	padding: 4px 8px;
	text-align: right;
	vertical-align: top;
}

table.table_stripes tr:nth-child(odd) {	background-color: #fafafa; }
table.table_stripes tr:hover { background-color: #fffada; }

table.table_stripes td {
	vertical-align: middle;
}

.hscroll {
	overflow-x: auto;
	margin-bottom: 16px;
}
.hscroll table {
	margin-bottom: 0;
}



.box_example {
	background-color: #f3f3f3;
	border-left: 5px solid #b0b0b0;
	padding: 8px 10px;
	overflow: auto;
	margin: 16px 0;
}

.box_example_title {
	border-bottom: 1px solid #d0d0d0;
	color: #000000;
	font-family: Arial, sans-serif;
	font-size: 1.1rem;
	font-weight: normal;
	margin: 0 0 8px 0;
	padding: 0 0 4px 0;
}

.box_example pre {
	margin-top: 0;
	margin-bottom: 0;
}

.box_error {
	background-color: #ffe0d6;
	border-left: 8px solid #f05050;
	padding: 6px 12px;
	margin: 16px 0;
	line-height: 1.5;
}

.box_warning {
	background-color: #fff6c0;
	border-left: 8px solid #e0b020;
	padding: 6px 12px;
	margin: 16px 0;
	line-height: 1.5;
}

.box_success {
	background-color: #d0ffd0;
	border-left: 8px solid #50c050;
	padding: 6px 12px;
	margin: 16px 0;
	line-height: 1.5;
}

.box_info {
	background-color: #e0f0ff;
	border-left: 8px solid #5090f0;
	padding: 6px 12px;
	margin: 16px 0;
	line-height: 1.5;
}

.box_title {
	font-weight: bold;
	padding-bottom: 6px;
}



.index_items_indent {
	margin-left: 16px;
}

.index_item {
	margin: 0;
}

.index_item h3, .index_item p {
	text-align: justify;
	color: #000000;
}

.index_item h3 {
	color: #3060c0;
	font-size: 1.25rem;
	margin: 16px 16px 0 16px;
}

.index_item p {
	margin: 4px 16px 16px 16px;
}

.index_item a:hover {
	text-decoration: none;
}

.index_item div {
	margin-bottom: 32px;
}

.index_item div:hover h3 {
	text-decoration: underline;
}



table.downloadinfo {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 16px 0 0 30px;
}

table.downloadinfo th {
	color: #606060;
	font-weight: normal;
	padding: 2px 8px 2px 0;
	text-align: right;
	white-space: nowrap;
	vertical-align: top;
}

table.downloadinfo td {
	padding: 2px 0;
	vertical-align: top;
}

.download_button {
	margin: 24px 0;
}
.download_button a {
	background-color: #3070b0;
	font-family: Arial, sans-serif;
	font-size: 1.75rem;
	font-weight: bold;
	padding: 12px 48px;
	color: #ffffff;
	text-decoration: none;
}
.download_button a:hover {
	background-color: #70b030;
	color: #ffffff;
	text-decoration: none;
}

.download_support {
	font-size: 1rem;
	white-space: nowrap;
	color: #999;
	margin: 0 0 16px 0;
}



.screenshots {
	text-align: left;
}

.screenshots img {
	display: block;
	height: auto;
	max-width: 100%;
	margin-bottom: 16px;
}



.changelog_version {
	margin: 21px 0 0 0px;
	font-weight: bold;
}

.changelog_type {
	margin: 5px 0 0 32px;
	font-weight: normal;
	font-style: italic;
	color: #606060;
}

.changelog_list {
	margin: 5px 0 0 38px;
	list-style-type: none;
}

.changelog_list li::before {
	content: "\25AA";
	color: #606060;
  display: inline-block;
	width: 1em;
  margin-left: -1em;
}


input, textarea, select, optgroup, option, button {
	font-size: 1rem;
}

input:disabled, textarea:disabled, select:disabled {
	background-color: #f0f0f0;
	color: #a0a0a0;
}

input, textarea, select, button {
	background-color: #ffffff;
	color: #000000;
	border: 1px solid #b0b0b0;
	padding: 4px;
	margin: 2px;
}

textarea, input.fixed {
	font-family: Consolas, "Courier New", monospace;
}

input[type=text], textarea {
	box-sizing: border-box;
	width: 100%;
}

.box_form {
	background-color: #f0f0f0;
	border-bottom: 6px solid #b0b0b0;
	border-top: 6px solid #b0b0b0;
	box-sizing: border-box;
	display: inline-block;
	margin: 0;
	overflow: auto;
	padding: 16px;
}

table.form_table {
	border-collapse: collapse;
	border-spacing: 0;
}

table.form_table th {
	font-weight: normal;
	margin: 0;
	padding: 2px 4px 2px 4px;
	text-align: right;
	white-space: nowrap;
}

table.form_table td {
	padding: 2px 4px 2px 4px;
	margin: 0;
	text-align: left;
}

table.form_table_nopadding td {
	padding: 0;
	margin: 0;
}

.form_button {
	border: 0;
	background-color: #3070b0;
	color: #ffffff;
	padding: 6px 16px;
	margin: 2px 8px 2px 0;
	cursor: pointer;
}
.form_button:hover {
	background-color: #70b030;
	color: #ffffff;
}

.form_title {
	font-weight: bold;
}

.form_comment {
	font-weight: normal;
	font-style: italic;
	color: #606060;
}

.form_space {
	margin-top: 16px;
}

.form_line_solid {
	border-bottom: 1px solid #b0b0b0;
	height: 1px;
	margin: 5px 0 5px 0;
}

.form_line_dotted {
	border-bottom: 1px dotted #b0b0b0;
	height: 1px;
	margin: 5px 0 5px 0;
}



.menubar {
	background-color: #3070b0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.menubar li {
  float: left;
	padding: 0;
	margin: 0;
}

.menubar li.menuright {
	background-color: #60a030;
  float: right;
}

.menubar li a {
  color: #ffffff;
  display: block;
	font-size: 1.05rem;
	height: 1.5rem;
	line-height: 1.5rem;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
}

.menubar li a:hover {
  background-color: #204070;
	color: #ffffff;
}

.page {
	padding: 16px 16px 16px 16px;
	margin: 0;
}

.page::after {
	clear: both;
	content: "";
	display: table;
}

.page_content {
	box-sizing: border-box;
	float: left;
	width: 75%;
}

.sidebar {
	box-sizing: border-box;
	float: right;
	padding-left: 20px;
	width: 25%;
}

.sidebar_title {
	font-size: 1.15rem;
	overflow: hidden;
	text-align: center;
}

.sidebar_title a {
	background-color: #666666;
	color: #ffffff;
	display: block;
	padding: 8px 16px;
	text-decoration: none;
}

.sidebar_title a:hover {
	text-decoration: underline;
}

.sidebar_content {
	background-color: #f0f0f0;
	color: #000000;
	padding: 8px 16px 8px 16px;
	font-size: .94rem;
}

.sidebar_content p {
	font-size: .94rem;
	line-height: 1.2;
	margin: 8px 0;
	padding: 0;
	text-align: left;
}

.sidebar_content a {
	color: #3060c0;
	text-decoration: none;
}

.sidebar_content a:hover {
	text-decoration: underline;
}

.sidebar_subtitle {
	color: #606060;
	margin-top: 16px;
	font-weight: bold;
}

.sidebar_subtitlefirst {
	margin-top: 8px;
}

.sidebar_subsubtitle {
	margin-top: 8px;
}

.sidebar_indent {
	margin: 0 0 8px 20px;
}

.bottombar {
	font-size: 0.8rem;
	background-color: #f0f0f0;
	color: #404040;
	text-align: center;
}

.bottombar a {
	text-decoration: none;
}

.bottombar a:hover {
	text-decoration: underline;
}

.bottombar_links {
	list-style-type: none;
	line-height: 2em;
	padding: 8px;
}

.bottombar_links a {
	margin-right: 24px;
	white-space: nowrap;
}

.bottombar_copyright {
	padding: 4px 0 8px 0;
	font-size: .7rem;
	color: #707070;
}



.container_alt {
	font-family: Arial, sans-serif;
	font-size: 1.2rem;
	border: 1px solid #e0e0e0;
	background-color: #f8f8f8;
	padding: 8px;
	line-height: 1.5;
	text-align: center;
}
.container_alt p {
	text-align: center;
}



@media only screen and (max-width: 1300px) {
	.page_content, .sidebar {   
		width: 100%;
		padding-left: 0;
	}
	.bottombar_col {
		width: 33%;
	}
}

@media only screen and (max-width: 900px) {
	.bottombar_col {
		width: 50%;
	}
}

@media only screen and (max-width: 600px) {
	p, blockquote, dd, li {
		text-align: left;
	}
	.bottombar_col {
		width: 100%;
	}
}

@media print {
	.menubar, .sidebar, .bottombar {
		display: none;
	}
	.page_content {
		width: 100%;
	}
	.cont_content, .cont_bottom {
		display: none;
	}
}
